# IMDB WebScrapping by Selenium

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hamza\appdata\roaming\python\python39\site-packages (4.8.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hamza\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hamza\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\hamza\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hamza\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hamza\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hamza\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hamza\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1')
time.sleep(3)

In [4]:
Sno=[]         #--1 
Movie_name=[]  #--2
duration=[]    #--3
year=[]        #--4
rating=[]      #--5
meta=[]        #--6
directors=[]   #--7

start=0
end=36
for page in range(start,end):
    
    #Sno--1
    try:
        sno_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-index unbold text-primary"]')
        for i in sno_tags:
            Sno.append(i.text.strip()[0:-1].replace('.','').replace(',',''))
    except NoSuchElementException:
        Sno.append(None)
    
    #Movie_name--2
    try:
        movie_tags=driver.find_elements(By.XPATH,'//h3/a')
        for i in movie_tags:
            Movie_name.append(i.text)
    except NoSuchElementException:
        Movie_name.append(None)
        
    #duration--3
    try:
        dur_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
        for i in dur_tags:
            duration.append(i.text)
    except NoSuchElementException:
        duration.append(None)
        
    #year--4
    try:
        year_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
        for i in year_tags:
            year.append(i.text)
    except NoSuchElementException:
        year.append(None)
        
    #rating--5
    try:
        rat_tags=driver.find_elements(By.XPATH,'//div[@class="inline-block ratings-imdb-rating"]')
        for i in rat_tags:
            rating.append(i.text)
    except NoSuchElementException:
        rating.append(None)
    
    #directors--6
    try:
        dir_tags= driver.find_elements(By.XPATH,".//p[@class='']")
        for i in dir_tags:
            direct=i.text.strip().split(" | ")[0]
            direct=direct.replace("Director: ",'').replace("Directors: ",'')
            directors.append(direct)
    except NoSuchElementException:
        directors.append(None)
    
    #Metascore--7
    score_tags = driver.find_elements(By.XPATH, '//div[@class="ratings-bar"]')
    for i in score_tags:
        met = i.text
        metascore = None

    # Extract Metascore value if available
        if 'Metascore' in met:
            metascore = met.split("\n")[-1].strip().split()[0]

        meta.append(metascore)
            
   
        
    
    #next button--8
    try:    
        nxt_button=driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
        nxt_button.click()
        time.sleep(3)
    except NoSuchElementException:
        break

In [5]:
print('Sno :', len(Sno))
print('Movie_name :', len(Movie_name))
print('Duration :', len(duration))
print('Year :', len(year))
print('Rating :', len(rating))
print('Directors :', len(directors))
print('Metascore :', len(meta))

Sno : 1777
Movie_name : 1777
Duration : 1777
Year : 1777
Rating : 1777
Directors : 1777
Metascore : 1777

In [6]:
data=({'Sno':Sno,'Movie_Name':Movie_name,'Directors_Name': directors,'Durations':duration,'Year':year,'Ratings':rating,'MetaScore':meta})
df_1=pd.DataFrame(data)
df_1

,Sno,Movie_Name,Directors_Name,Durations,Year,Ratings,MetaScore
0,1,The Dark Knight,Christopher Nolan,152 min,(2008),9.0,84
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,(2003),9.0,94
2,3,Spider-Man: Across the Spider-Verse,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...",140 min,(2023),8.8,86
3,4,Inception,Christopher Nolan,148 min,(2010),8.8,74
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,(2001),8.8,92
...,...,...,...,...,...,...,...
1772,1773,Radhe,Prabhu Deva,109 min,(2021),1.9,None
1773,1774,Race 3,Remo D'Souza,160 min,(2018),1.9,None
1774,1775,Angels Apocalypse,"Sean Cain, Enzo Zelocchi",85 min,(2015),1.6,None
1775,1776,The Cost of Deception,Keith English,125 min,(2021),1.5,None
1776,1777,Sadak 2,Mahesh Bhatt,133 min,(2020),1.2,None

In [7]:
df_1.to_csv("Capstone_Project_Phase_1.csv" , index=False)

In [8]:
df_1.head(5)

,Sno,Movie_Name,Directors_Name,Durations,Year,Ratings,MetaScore
0,1,The Dark Knight,Christopher Nolan,152 min,(2008),9.0,84
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,(2003),9.0,94
2,3,Spider-Man: Across the Spider-Verse,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...",140 min,(2023),8.8,86
3,4,Inception,Christopher Nolan,148 min,(2010),8.8,74
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,(2001),8.8,92

In [9]:
df_1['Directors_Name']=df_1['Directors_Name'].str.split(', ')
df_1['Director_1']=df_1['Directors_Name'].str[0]
df_1['Director_2']=df_1['Directors_Name'].str[1]

df_1.head(5)

,Sno,Movie_Name,Directors_Name,Durations,Year,Ratings,MetaScore,Director_1,Director_2
0,1,The Dark Knight,[Christopher Nolan],152 min,(2008),9.0,84,Christopher Nolan,NaN
1,2,The Lord of the Rings: The Return of the King,[Peter Jackson],201 min,(2003),9.0,94,Peter Jackson,NaN
2,3,Spider-Man: Across the Spider-Verse,"[Joaquim Dos Santos, Kemp Powers, Justin K. Th...",140 min,(2023),8.8,86,Joaquim Dos Santos,Kemp Powers
3,4,Inception,[Christopher Nolan],148 min,(2010),8.8,74,Christopher Nolan,NaN
4,5,The Lord of the Rings: The Fellowship of the Ring,[Peter Jackson],178 min,(2001),8.8,92,Peter Jackson,NaN

In [10]:
df_1['Directors_Name'] = df_1['Directors_Name'].apply(', '.join)
df_1.head(5)

,Sno,Movie_Name,Directors_Name,Durations,Year,Ratings,MetaScore,Director_1,Director_2
0,1,The Dark Knight,Christopher Nolan,152 min,(2008),9.0,84,Christopher Nolan,NaN
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,(2003),9.0,94,Peter Jackson,NaN
2,3,Spider-Man: Across the Spider-Verse,"Joaquim Dos Santos, Kemp Powers, Justin K. Tho...",140 min,(2023),8.8,86,Joaquim Dos Santos,Kemp Powers
3,4,Inception,Christopher Nolan,148 min,(2010),8.8,74,Christopher Nolan,NaN
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,(2001),8.8,92,Peter Jackson,NaN

In [11]:
df_1.drop(columns='Directors_Name', inplace=True)  # Now droping the Directors Columns
df_new=df_1
df_new.head(5)

,Sno,Movie_Name,Durations,Year,Ratings,MetaScore,Director_1,Director_2
0,1,The Dark Knight,152 min,(2008),9.0,84,Christopher Nolan,NaN
1,2,The Lord of the Rings: The Return of the King,201 min,(2003),9.0,94,Peter Jackson,NaN
2,3,Spider-Man: Across the Spider-Verse,140 min,(2023),8.8,86,Joaquim Dos Santos,Kemp Powers
3,4,Inception,148 min,(2010),8.8,74,Christopher Nolan,NaN
4,5,The Lord of the Rings: The Fellowship of the Ring,178 min,(2001),8.8,92,Peter Jackson,NaN

In [12]:
df_new.to_csv('Capstons_project_phase1_part_A.csv', index=False)

In [13]:
#Now closing the driver
driver.quit()

**Capstone_Project_phase_1_part_B**

In [14]:
import selenium
import requests
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [15]:
driver=webdriver.Chrome(r"Chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
time.sleep(5)

In [16]:
sno=[]           #--1
Movie_name=[]    #--2
votes=[]         #--3
gross=[]         #--4
certificates=[]  #--5
actors=[]        #--6
gener=[]        #--7

start=0
end=36
for page in range(start,end):
    
    #Sno--1
    try:
        sno_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-index unbold text-primary"]')
        for i in sno_tags:
            sno.append(i.text.strip()[0:-1].replace('.','').replace(",",''))
    except NoSuchElementException:
        sno.append(None)
    
    #Movie_name--2
    try:
        movie_tags=driver.find_elements(By.XPATH,'//h3/a')
        for i in movie_tags:
            Movie_name.append(i.text)
    except NoSuchElementException:
        Movie_name.append(None)
        
    #Votes---3
    try:
        vot_tags=driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
        for tag in vot_tags:
            text = tag.text.strip()
            parts = text.split('|')  # Split the text using '|' as separator
    
    # Find the 'Votes' part and remove rest part--
            votes_part = [part.strip() for part in parts if 'Votes' in part]
        
            if votes_part:
                votes_value = votes_part[0].replace('Votes:','').replace(',','')
                votes.append(votes_value)
            else:
                votes.append(None)  # If no 'Gross' value found, append None
    except NoSuchElementException:
        votes.append(None)
    

    #Gross collection---4
    
    try:
        gro_tags = driver.find_elements(By.XPATH, '//p[@class="sort-num_votes-visible"]')

        for tag in gro_tags:
            text = tag.text.strip()
            parts = text.split('|')  # Split the text using '|' as separator
    
    # Find the 'Gross' part and remove everything else--
            gross_part = [part.strip() for part in parts if 'Gross' in part]
    
            if gross_part:
                gross_value = gross_part[0].replace('Gross:','').replace(',','')
                gross.append(gross_value)
        
            else:
                gross.append(None)  # If no 'Gross' value found, append None
    
    except NoSuchElementException:
        gross.append(None)
    
    
   # Certificate----5
    wait = WebDriverWait(driver, 3)
   
    # Wait for the certificate elements to become visible
    cer_tags = wait.until(EC.visibility_of_all_elements_located((By.XPATH, '//p[@class="text-muted "]')))

    # Find elements for certificate

    for cer_tag in cer_tags:
        cer_elements = cer_tag.find_elements(By.XPATH, './/span[@class="certificate"]')
        cert = None
        for cer_element in cer_elements:
            cert_text = cer_element.text.strip()
            if cert_text:  # Check if the text is not empty
                cert = cert_text
                break
        certificates.append(cert if cert else None)  # Append 'nan' for missing values

 
    #Stars--6
    try:
        dir_tags= driver.find_elements(By.XPATH,".//p[@class='']")
        for i in dir_tags:
            actors.append(i.text.strip().split(" | ")[-1].replace("Stars: ", ""))
    except NoSuchElementException:
        actors.append(None)
        
    #Genere--7
    try:
        ge_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
        for i in ge_tag:
            gener.append(i.text.strip().split("|")[-1])
    except NoSuchElementException:
        gener.append(None)
    
    

    #next button--
    try:    
        nxt_button=driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
        nxt_button.click()
        time.sleep(5)
    except NoSuchElementException:
        break

In [17]:
print('Sno :', len(sno))
print('Movie_name :', len(Movie_name))
print('Votes :', len(votes))
print('Gross :', len(gross))
print('Certificates :', len(certificates))
print('Stars :', len(actors))
print('Genere :', len(gener))

Sno : 1777
Movie_name : 1777
Votes : 1777
Gross : 1777
Certificates : 1777
Stars : 1777
Genere : 1777

In [18]:
data=({"Sno":sno,"Movie_Name":Movie_name,'Stars':actors,'Votes':votes,'Genere':gener,'Gross_Collection':gross,'Certification':certificates})
df_A=pd.DataFrame(data)
df_A.head(5)

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification
0,1,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2765738,"Action, Crime, Drama",$534.86M,PG-13
1,2,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1909264,"Action, Adventure, Drama",$377.85M,PG-13
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG
3,4,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2455626,"Action, Adventure, Sci-Fi",$292.58M,PG-13
4,5,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1937451,"Action, Adventure, Drama",$315.54M,PG-13

In [19]:
#closing the driver
driver.quit()

In [20]:
driver=webdriver.Chrome(r"Chromedriver.exe")
driver.get("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")
time.sleep(5)

In [21]:
x=driver.find_element(By.XPATH,'//*[@id="main"]/div/div[2]/a[1]')
x.click()

In [22]:
popular=[]           #--1
Movie_name=[]    #--2
votes=[]         #--3
gross=[]         #--4
certificates=[]  #--5
actors=[]        #--6
gener=[]        #--7

start=0
end=36
for page in range(start,end):
    
    #Sno--1
    try:
        pop_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-index unbold text-primary"]')
        for i in pop_tags:
            popular.append(i.text.strip()[0:-1].replace('.','').replace(",",''))
    except NoSuchElementException:
        popular.append(None)
    
    #Movie_name--2
    try:
        movie_tags=driver.find_elements(By.XPATH,'//h3/a')
        for i in movie_tags:
            Movie_name.append(i.text)
    except NoSuchElementException:
        Movie_name.append(None)
        
    #Votes---3
    try:
        vot_tags=driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
        for tag in vot_tags:
            text = tag.text.strip()
            parts = text.split('|')  # Split the text using '|' as separator
    
    # Find the 'Votes' part and remove rest part--
            votes_part = [part.strip() for part in parts if 'Votes' in part]
        
            if votes_part:
                votes_value = votes_part[0].replace('Votes:','').replace(',','')
                votes.append(votes_value)
            else:
                votes.append(None)  # If no 'Gross' value found, append None
    except NoSuchElementException:
        votes.append(None)
    

    #Gross collection---4
    
    try:
        gro_tags = driver.find_elements(By.XPATH, '//p[@class="sort-num_votes-visible"]')

        for tag in gro_tags:
            text = tag.text.strip()
            parts = text.split('|')  # Split the text using '|' as separator
    
    # Find the 'Gross' part and remove everything else--
            gross_part = [part.strip() for part in parts if 'Gross' in part]
    
            if gross_part:
                gross_value = gross_part[0].replace('Gross:','').replace(',','')
                gross.append(gross_value)
        
            else:
                gross.append(None)  # If no 'Gross' value found, append None
    
    except NoSuchElementException:
        gross.append(None)
    
    
   # Certificate----5
    wait = WebDriverWait(driver, 3)
   
    # Wait for the certificate elements to become visible
    cer_tags = wait.until(EC.visibility_of_all_elements_located((By.XPATH, '//p[@class="text-muted "]')))

    # Find elements for certificate

    for cer_tag in cer_tags:
        cer_elements = cer_tag.find_elements(By.XPATH, './/span[@class="certificate"]')
        cert = None
        for cer_element in cer_elements:
            cert_text = cer_element.text.strip()
            if cert_text:  # Check if the text is not empty
                cert = cert_text
                break
        certificates.append(cert if cert else None)  # Append 'nan' for missing values

 
    #Stars--6
    try:
        dir_tags= driver.find_elements(By.XPATH,".//p[@class='']")
        for i in dir_tags:
            actors.append(i.text.strip().split(" | ")[-1].replace("Stars: ", ""))
    except NoSuchElementException:
        actors.append(None)
        
    #Genere--7
    try:
        ge_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
        for i in ge_tag:
            gener.append(i.text.strip().split("|")[-1])
    except NoSuchElementException:
        gener.append(None)
    
    

    #next button--
    try:    
        nxt_button=driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
        nxt_button.click()
        time.sleep(5)
    except NoSuchElementException:
        break

In [23]:
print('Popularity :', len(popular))
print('Movie_name :', len(Movie_name))
print('Votes :', len(votes))
print('Gross :', len(gross))
print('Certificates :', len(certificates))
print('Stars :', len(actors))
print('Genere :', len(gener))

Popularity : 1777
Movie_name : 1777
Votes : 1777
Gross : 1777
Certificates : 1777
Stars : 1777
Genere : 1777

In [24]:
data=({"Popularity":sno,"Movie_Name":Movie_name,'Stars':actors,'Votes':votes,'Genere':gener,'Gross_Collection':gross,'Certification':certificates})
df_B=pd.DataFrame(data)
df_B.head(5)

,Popularity,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification
0,1,Guardians of the Galaxy Vol. 3,"Chris Pratt, Chukwudi Iwuji, Bradley Cooper, P...",288353,"Action, Adventure, Comedy",None,PG-13
1,2,Heart of Stone,"Gal Gadot, Jamie Dornan, Alia Bhatt, Jing Lusi",27607,"Action, Crime, Thriller",None,PG-13
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG
3,4,Mission: Impossible - Dead Reckoning Part One,"Tom Cruise, Hayley Atwell, Ving Rhames, Simon ...",128255,"Action, Adventure, Thriller",None,PG-13
4,5,Sound of Freedom,"Jim Caviezel, Mira Sorvino, Bill Camp, Cristal...",48154,"Action, Biography, Drama",None,PG-13

In [25]:
df_n = pd.merge(df_A, df_B, on=['Movie_Name','Stars','Certification','Genere','Gross_Collection'])
df_n

,Sno,Movie_Name,Stars,Votes_x,Genere,Gross_Collection,Certification,Popularity,Votes_y
0,1,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2765738,"Action, Crime, Drama",$534.86M,PG-13,14,2765738
1,2,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1909264,"Action, Adventure, Drama",$377.85M,PG-13,99,1909264
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG,3,230515
3,4,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2455626,"Action, Adventure, Sci-Fi",$292.58M,PG-13,13,2455626
4,5,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1937451,"Action, Adventure, Drama",$315.54M,PG-13,43,1937451
...,...,...,...,...,...,...,...,...,...
1772,1773,Radhe,"Salman Khan, Disha Patani, Randeep Hooda, Jack...",179131,"Action, Crime, Thriller",None,TV-MA,1611,179131
1773,1774,Race 3,"Anil Kapoor, Salman Khan, Bobby Deol, Jacqueli...",47900,"Action, Crime, Thriller",$1.69M,Not Rated,1727,47900
1774,1775,Angels Apocalypse,"Enzo Zelocchi, Jana Rochelle, Ryan C.F. Buckle...",42920,"Action, Fantasy, Sci-Fi",None,None,1775,42920
1775,1776,The Cost of Deception,"Vivianne BÃ¡novits, AndrÃ¡s MÃ³zes, Barna Bokor, ...",39624,"Action, Crime, Drama",None,None,1765,39624
1776,1777,Sadak 2,"Alia Bhatt, Sanjay Dutt, Priyanka Bose, Aditya...",96397,"Action, Drama",None,TV-MA,1707,96397

In [26]:
df_n.drop(columns='Votes_y', inplace=True)
df_n = df_n.rename(columns={'Votes_x':'Votes'})
df_n

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification,Popularity
0,1,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2765738,"Action, Crime, Drama",$534.86M,PG-13,14
1,2,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1909264,"Action, Adventure, Drama",$377.85M,PG-13,99
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG,3
3,4,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2455626,"Action, Adventure, Sci-Fi",$292.58M,PG-13,13
4,5,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1937451,"Action, Adventure, Drama",$315.54M,PG-13,43
...,...,...,...,...,...,...,...,...
1772,1773,Radhe,"Salman Khan, Disha Patani, Randeep Hooda, Jack...",179131,"Action, Crime, Thriller",None,TV-MA,1611
1773,1774,Race 3,"Anil Kapoor, Salman Khan, Bobby Deol, Jacqueli...",47900,"Action, Crime, Thriller",$1.69M,Not Rated,1727
1774,1775,Angels Apocalypse,"Enzo Zelocchi, Jana Rochelle, Ryan C.F. Buckle...",42920,"Action, Fantasy, Sci-Fi",None,None,1775
1775,1776,The Cost of Deception,"Vivianne BÃ¡novits, AndrÃ¡s MÃ³zes, Barna Bokor, ...",39624,"Action, Crime, Drama",None,None,1765
1776,1777,Sadak 2,"Alia Bhatt, Sanjay Dutt, Priyanka Bose, Aditya...",96397,"Action, Drama",None,TV-MA,1707

In [27]:
df_n.head(5)

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification,Popularity
0,1,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2765738,"Action, Crime, Drama",$534.86M,PG-13,14
1,2,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1909264,"Action, Adventure, Drama",$377.85M,PG-13,99
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG,3
3,4,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2455626,"Action, Adventure, Sci-Fi",$292.58M,PG-13,13
4,5,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1937451,"Action, Adventure, Drama",$315.54M,PG-13,43

In [28]:
df_n.to_csv('Capstons_project_phase1_part_B.csv', index=False)

In [29]:
#now closing the driver
driver.quit()

In [30]:
df_n

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification,Popularity
0,1,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2765738,"Action, Crime, Drama",$534.86M,PG-13,14
1,2,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1909264,"Action, Adventure, Drama",$377.85M,PG-13,99
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG,3
3,4,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2455626,"Action, Adventure, Sci-Fi",$292.58M,PG-13,13
4,5,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1937451,"Action, Adventure, Drama",$315.54M,PG-13,43
...,...,...,...,...,...,...,...,...
1772,1773,Radhe,"Salman Khan, Disha Patani, Randeep Hooda, Jack...",179131,"Action, Crime, Thriller",None,TV-MA,1611
1773,1774,Race 3,"Anil Kapoor, Salman Khan, Bobby Deol, Jacqueli...",47900,"Action, Crime, Thriller",$1.69M,Not Rated,1727
1774,1775,Angels Apocalypse,"Enzo Zelocchi, Jana Rochelle, Ryan C.F. Buckle...",42920,"Action, Fantasy, Sci-Fi",None,None,1775
1775,1776,The Cost of Deception,"Vivianne BÃ¡novits, AndrÃ¡s MÃ³zes, Barna Bokor, ...",39624,"Action, Crime, Drama",None,None,1765
1776,1777,Sadak 2,"Alia Bhatt, Sanjay Dutt, Priyanka Bose, Aditya...",96397,"Action, Drama",None,TV-MA,1707

In [31]:
df_n['Stars']=df_n['Stars'].str.split(', ')
df_n['Star_1']=df_n['Stars'].str[0]
df_n['Star_2']=df_n['Stars'].str[1]
df_n['Star_3']=df_n['Stars'].str[2]
df_n['Star_4']=df_n['Stars'].str[3]

df_n['Genere']=df_n['Genere'].str.split(', ')
df_n['Genere_1']=df_n['Genere'].str[0]
df_n['Genere_2']=df_n['Genere'].str[1]
df_n['Genere_3']=df_n['Genere'].str[2]

df_n.head(5)

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification,Popularity,Star_1,Star_2,Star_3,Star_4,Genere_1,Genere_2,Genere_3
0,1,The Dark Knight,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...",2765738,"[Action, Crime, Drama]",$534.86M,PG-13,14,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,"[Elijah Wood, Viggo Mortensen, Ian McKellen, O...",1909264,"[Action, Adventure, Drama]",$377.85M,PG-13,99,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,3,Spider-Man: Across the Spider-Verse,"[Shameik Moore, Hailee Steinfeld, Brian Tyree ...",230515,"[Animation, Action, Adventure]",None,PG,3,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,Animation,Action,Adventure
3,4,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...",2455626,"[Action, Adventure, Sci-Fi]",$292.58M,PG-13,13,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,5,The Lord of the Rings: The Fellowship of the Ring,"[Elijah Wood, Ian McKellen, Orlando Bloom, Sea...",1937451,"[Action, Adventure, Drama]",$315.54M,PG-13,43,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

In [32]:
df_n['Stars'] = df_n['Stars'].apply(', '.join)
df_n['Genere']=df_n['Genere'].apply(', '.join)

df_n.head(5)

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification,Popularity,Star_1,Star_2,Star_3,Star_4,Genere_1,Genere_2,Genere_3
0,1,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2765738,"Action, Crime, Drama",$534.86M,PG-13,14,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,2,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1909264,"Action, Adventure, Drama",$377.85M,PG-13,99,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,3,Spider-Man: Across the Spider-Verse,"Shameik Moore, Hailee Steinfeld, Brian Tyree H...",230515,"Animation, Action, Adventure",None,PG,3,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,Animation,Action,Adventure
3,4,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2455626,"Action, Adventure, Sci-Fi",$292.58M,PG-13,13,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,5,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1937451,"Action, Adventure, Drama",$315.54M,PG-13,43,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

In [33]:
df_m=df_n
df_m.tail(5)

,Sno,Movie_Name,Stars,Votes,Genere,Gross_Collection,Certification,Popularity,Star_1,Star_2,Star_3,Star_4,Genere_1,Genere_2,Genere_3
1772,1773,Radhe,"Salman Khan, Disha Patani, Randeep Hooda, Jack...",179131,"Action, Crime, Thriller",None,TV-MA,1611,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,Action,Crime,Thriller
1773,1774,Race 3,"Anil Kapoor, Salman Khan, Bobby Deol, Jacqueli...",47900,"Action, Crime, Thriller",$1.69M,Not Rated,1727,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,Action,Crime,Thriller
1774,1775,Angels Apocalypse,"Enzo Zelocchi, Jana Rochelle, Ryan C.F. Buckle...",42920,"Action, Fantasy, Sci-Fi",None,None,1775,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,Action,Fantasy,Sci-Fi
1775,1776,The Cost of Deception,"Vivianne BÃ¡novits, AndrÃ¡s MÃ³zes, Barna Bokor, ...",39624,"Action, Crime, Drama",None,None,1765,Vivianne BÃ¡novits,AndrÃ¡s MÃ³zes,Barna Bokor,Gabriella GubÃ¡s,Action,Crime,Drama
1776,1777,Sadak 2,"Alia Bhatt, Sanjay Dutt, Priyanka Bose, Aditya...",96397,"Action, Drama",None,TV-MA,1707,Alia Bhatt,Sanjay Dutt,Priyanka Bose,Aditya Roy Kapoor,Action,Drama,NaN

In [34]:
df_m.drop(columns=['Stars','Genere','Sno'],inplace=True)
df_m.head(5)

,Movie_Name,Votes,Gross_Collection,Certification,Popularity,Star_1,Star_2,Star_3,Star_4,Genere_1,Genere_2,Genere_3
0,The Dark Knight,2765738,$534.86M,PG-13,14,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1909264,$377.85M,PG-13,99,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,230515,None,PG,3,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,Animation,Action,Adventure
3,Inception,2455626,$292.58M,PG-13,13,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,1937451,$315.54M,PG-13,43,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

In [35]:
df_m.to_csv('Capstons_project_phase1_part_BB.csv', index=False)

In [36]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1777 entries, 0 to 1776
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie_Name        1777 non-null   object
 1   Votes             1777 non-null   object
 2   Gross_Collection  1478 non-null   object
 3   Certification     1767 non-null   object
 4   Popularity        1777 non-null   object
 5   Star_1            1777 non-null   object
 6   Star_2            1776 non-null   object
 7   Star_3            1776 non-null   object
 8   Star_4            1775 non-null   object
 9   Genere_1          1777 non-null   object
 10  Genere_2          1775 non-null   object
 11  Genere_3          1629 non-null   object
dtypes: object(12)
memory usage: 180.5+ KB